html{
	min-height: 100%;
	background-color: #bbb;
}
body{
	min-height: 100%;
	background-color: #bbb;
}

.barra-sup{
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 2;
}
.borde-derecho{
	border-right: 1px solid black;
}
.borde-izquierdo{
	border-left: 1px solid black;
}
.barra{
	height: 3em;
	padding-top: 0.5em;
	border-bottom: 1px solid black;
}
.boton-p:hover {
	background-color: white;
}
.derecha{
	text-align: right;
}
.elem-cuerpo{
	height: 6em;
	border-bottom: 1px solid black;
}
.menu{
	border-left: 1px solid black;
	padding-top: 3em;
	position: fixed;
	top: 0;
	right: 1px;
	height: 100%;
	z-index: 1;
}




