html{
	height: 200%;
	background-color: #bbb;
}
body{
	height: 200%;
	background-color: #bbb;
}

.barra-sup{
	position: fixed;
	top: 0;
	width: 100%;
}
.borde-bajo{
	border-bottom: 1px solid black;
}
.borde-derecho{
	border-right: 1px solid black;
}
.boton-p:hover {
	background-color: white;
}
.derecha{
	text-align: right;
}
.el-barra-sup{
	height: 3em;
	padding-top: 0.5em;
}




